* {
    box-sizing: border-box;
}

:root {
    /*sizes*/
    --board-height: 552px;
    --board-width: 552px;
    --cell-size: 25px;

    /*colors */
    --black: #000000;
    --green: #00ff00;
    --dark-gray: #171717;
    --light-gray: #555555;
}

.container {
    display: flex;
    justify-content: center;
    padding-top: calc(50vh - var(--board-height) / 2);
}

.board {
    min-height: var(--board-height);
    min-width: var(--board-width);
    background-color: var(--dark-gray);
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-template-rows: repeat(24, 1fr);
    outline: 7px solid black;
}

.grid-y {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: row;
}

.line-y {
    z-index: 1;
    margin-left: 22px;
    height: var(--board-height);
    width: 1px;
    background-color: var(--light-gray);
}

.grid-x {
    z-index: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.line-x {
    z-index: 1;
    margin-top: 22px;
    width: var(--board-height);
    height: 1px;
    background-color: var(--light-gray);
}

.cell {
    z-index: 2;
    cursor: pointer;
    margin: 2px;
    width: 18px;
    height: 18px;
}

.living {
    background-image: url("../images/living-cell.png");
}

.dead {
    background-image: url("../images/dead-cell.png");
}

.blur {
    filter: blur(10px);
}

.toast {
    z-index: 999;
    position: absolute;
    top: 10px;
    right: 10px;
}